/* Reset */
*,::before,::after{box-sizing:border-box}
*{margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
a:not([class]){text-decoration-skip-ink:auto}
img,picture,svg,video,canvas{max-width:100%;height:auto;vertical-align:middle;font-style:italic}
input,button,textarea,select{font:inherit}
@media (prefers-reduced-motion: reduce) {
	html:focus-within{scroll-behavior:auto}
	*,::before,::after{animation-duration:.01ms!important;animation-iteration-count:1!important;transition-
	duration:.01ms!important;scroll-behavior:auto!important;transition:none}
}
body,html{height:100%;scroll-behavior:smooth}

/* In questo purtroppo non sono bravo ho creato la tabella e lasciato un setup per fare cose */
body {
  font-style: oblique;
  color: #000000;
}

/* Come ho creato la griglia ho seguito la strat dei reapet di cui abbiamo parlato */
.board {
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

/* Per modificare le celle */
.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* #newGameButton {
  Per lavorare con il tastino nuova partita
} */
