/* Reset */
*,::before,::after{box-sizing:border-box}
*{margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
a:not([class]){text-decoration-skip-ink:auto}
img,picture,svg,video,canvas{max-width:100%;height:auto;vertical-align:middle;font-style:italic}
input,button,textarea,select{font:inherit}
@media (prefers-reduced-motion: reduce) {
	html:focus-within{scroll-behavior:auto}
	*,::before,::after{animation-duration:.01ms!important;animation-iteration-count:1!important;transition-
	duration:.01ms!important;scroll-behavior:auto!important;transition:none}
}
body,html{height:100%;scroll-behavior:smooth}

/* In questo purtroppo non sono bravo ho creato la tabella e lasciato un setup per fare cose */
body {
  font-style: oblique;
  color: #000000;
  background: rgb(33, 36, 50);
}

.grid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Come ho creato la griglia ho seguito la strat dei reapet di cui abbiamo parlato */
.grid > .board {
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 8px;
    background: rgb(49, 56, 85);
    padding: 30px 20px;
    border-radius: 12px;  
    margin: 200px auto;
    box-shadow:
    0 0 5px #fff, /* Alone bianco interno/vicino al bordo */
    0 0 10px #fff,
    0 0 15px #00cfff, /* Bagliore principale azzurro */
    inset 0 0 5px #00cfff;
}

/* Per modificare le celle */
.grid .cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}

.grid .cell:hover {
  transform: scale(1.05);

}

.grid .cell.x{
  
}

/* #newGameButton {
  Per lavorare con il tastino nuova partita
} */
