/* Reset */
*,::before,::after{box-sizing:border-box}
*{margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
a:not([class]){text-decoration-skip-ink:auto}
img,picture,svg,video,canvas{max-width:100%;height:auto;vertical-align:middle;font-style:italic}
input,button,textarea,select{font:inherit}
@media (prefers-reduced-motion: reduce) {
	html:focus-within{scroll-behavior:auto}
	*,::before,::after{animation-duration:.01ms!important;animation-iteration-count:1!important;transition-
	duration:.01ms!important;scroll-behavior:auto!important;transition:none}
}
body,html{height:100%;scroll-behavior:smooth}

/* In questo purtroppo non sono bravo ho creato la tabella e lasciato un setup per fare cose */
body {
  color: #000000;
  background: rgb(33, 36, 50);
  font-family: Arial, Helvetica, sans-serif;
}

.grid{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Come ho creato la griglia ho seguito la strat dei reapet di cui abbiamo parlato */

.grid .title{
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 20px rgba(255, 0, 0, 0.393),
    0 0 30px rgba(51, 0, 255, 0.392);
    margin-top: 20px;
}

.grid .board {
  display: inline-grid;
  text-align: center;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 8px;
  background: rgb(49, 56, 85);
  padding: 30px 20px;
  border-radius: 12px;  
  margin: 25px auto;
  box-shadow:
    0 0 5px #ff0000,
    0 0 10px #2f00ff,
    0 0 15px #3300ff,
    inset 0 0 5px #ff0000;
}

/* Per modificare le celle */
.grid .cell {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 60px;
  transition: 0.25s ease;
}

.grid .cell:hover {
  transform: scale(1.05);
}

.grid .cell.x{
  color: rgba(255, 0, 0, 0.718);
  text-shadow:
    0 0 7px #fe5151,
    0 0 10px #fe5151,
    0 0 21px #fe5151;
  border: 2px solid #ff0000;
}

.grid .cell.o{
  color: rgba(1, 1, 255, 0.704);
  text-shadow:
    0 0 7px #7451fe,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
  border: 2px solid  #4800ff;
}

.grid .players{
  display: flex;
  border-radius: 12px;
   box-shadow:
    0 0 5px #4800ff,
    0 0 10px #2f00ff,
    0 0 15px #3300ff,
    inset 0 0 5px #ff0000;
}

.players .symbol{
  padding: 10px;
  font-weight: bolder;
  font-size: 60px;
}

.players .x{
  background: rgba(255, 0, 0, 0.718);
  border-radius: 0; /* FIX */
  color:white;
  text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff;
}

.players .o{
  color:white;
  background: rgba(1, 1, 255, 0.704);
   border-radius: 0; /* FIX */

  text-shadow:
    0 0 7px #ffffff,
    0 0 10px #ffffff;
}

.players .player{
  padding: 20px;
  font-size: 20px;
  display:flex;
  align-items: center;
  color: white;
}
.players .x {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.players .o {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.grid #newGameButton {
  padding: 12px 28px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background: #000;
  border: 2px solid #ff0000;
  border-radius: 12px; /* Bordi stondati */
  cursor: pointer;
  box-shadow:
    0 0 5px #ff0000,
    0 0 10px #2f00ff,
    0 0 15px #3300ff,
    inset 0 0 5px #ff0000;
  margin-top: 30px;
  transition: 0.25s ease;
  
}

.grid #newGameButton:hover {
  box-shadow:
    0 0 8px #ff0000,
    0 0 16px #2f00ff,
    0 0 25px #3300ff,
    inset 0 0 8px #ff0000,
    0 0 40px rgba(50, 0, 255, 0.6);
  transform: translateY(-2px);
  
}