/* Reset */
*,::before,::after{box-sizing:border-box}
*{margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
a:not([class]){text-decoration-skip-ink:auto}
img,picture,svg,video,canvas{max-width:100%;height:auto;vertical-align:middle;font-style:italic}
input,button,textarea,select{font:inherit}
@media (prefers-reduced-motion: reduce) {
	html:focus-within{scroll-behavior:auto}
	*,::before,::after{animation-duration:.01ms!important;animation-iteration-count:1!important;transition-
	duration:.01ms!important;scroll-behavior:auto!important;transition:none}
}
body,html{height:100%;scroll-behavior:smooth}

/* In questo purtroppo non sono bravo ho creato la tabella e lasciato un setup per fare cose */
body {
  color: #000000;
  background: rgb(33, 36, 50);
  font-family: Arial, Helvetica, sans-serif;
}

.grid{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Come ho creato la griglia ho seguito la strat dei reapet di cui abbiamo parlato */
.grid > .board {
    display: inline-grid;
    text-align: center;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 8px;
    background: rgb(49, 56, 85);
    padding: 30px 20px;
    border-radius: 12px;  
    margin: 200px auto;
    box-shadow:
      0 0 5px #ff0000,
      0 0 10px #2f00ff,
      0 0 15px #3300ff,
      inset 0 0 5px #ff0000;
}

/* Per modificare le celle */
.grid .cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bolder;
    font-size: 60px;
}

.grid .cell:hover {
  transform: scale(1.05);
}

.grid .cell.x{
  color: #ff0000;
  text-shadow:
    /* White glow */
    0 0 7px #fe5151,
    0 0 10px #fe5151,
    0 0 21px #fe5151;
}

.grid .cell.o{
  color: #4800ff;
  text-shadow:
    /* White glow */
    0 0 7px #7451fe,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
}

#newGameButton {
  border-radius: 12px;
  padding: 5px 30px;
}