/* Reset */
*,::before,::after{box-sizing:border-box}
*{margin:0;padding:0}
html:focus-within{scroll-behavior:smooth}
a:not([class]){text-decoration-skip-ink:auto}
img,picture,svg,video,canvas{max-width:100%;height:auto;vertical-align:middle;font-style:italic}
input,button,textarea,select{font:inherit}
@media (prefers-reduced-motion: reduce) {
	html:focus-within{scroll-behavior:auto}
	*,::before,::after{animation-duration:.01ms!important;animation-iteration-count:1!important;transition-
	duration:.01ms!important;scroll-behavior:auto!important;transition:none}
}
body,html{height:100%;scroll-behavior:smooth}

body{
  color: #000000;
  background: rgb(21, 22, 31);
  font-family: Arial, Helvetica, sans-serif;

}
.container{
  width:100%;
  text-align:center;
  padding:40px 24px;
}
/* Title */
.title{
  color: #f6f5f8;
  text-shadow:
    0 0 7px #4c3a96,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
    text-align: center;
  font-size:60px;
  letter-spacing:6px;
  margin-bottom:18px;
  color:rgb(252, 252, 253);
}
/* Small subtitle line below */
.subtitle{
  text-align: center;
  font-size:40px;
  letter-spacing:4px;
  background: linear-gradient(to right, #121FCF 0%, #CF1512 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 20px rgba(253, 8, 8, 0.393),
    0 0 30px rgba(51, 0, 255, 0.392);
  margin-bottom:28px;
}
/* The box that holds roles & names */
.credits-box{
  text-align: center;
  background: rgba(255,255,255,0.02);
  border: 1px solid rgba(54, 148, 59, 0.03);
  color: #fbfbfd;
  text-shadow:
    0 0 7px #8e76ee,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
  padding:28px 20px;
  border-radius:6px;
  min-width:320px;
}
/* Role lines (smaller, spaced) */
.role{
  text-align: center;
  font-size:20px;
  color:rgb(212, 108, 108);
  margin-top:12px;
  margin-bottom:35px;
  letter-spacing:2px;
}
/* Names: larger and highlighted */
.name{
  text-align: center;
  font-size:25px;
  color:white;
  margin-bottom:6px;
  letter-spacing:2px;
}

.footer .copyright{
  max-width: 1450px;
  margin: auto;
  color:black;
  text-shadow:
    0 0 7px #7451fe,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
}

.footer .fondo{
  padding:25px 9px;
}

.footer .fondo a{
  font-size:15px;
  color:black;
}

.footer .fondo .links{  
  text-shadow:
    0 0 7px #7451fe,
    0 0 10px #7451fe,
    0 0 21px #7451fe;
}

.footer {
  position:fixed;
  bottom:0;
  text-align: center;
  width: 100%;
}

@media screen and (max-height:730px){

  .footer{position:static}

}
