body{
    background: rgb(83, 49, 163);
}
#esito{
    font-family: OCR A Std, monospace;
    font-size: 21px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.contenitore1{
    border: 6px solid black;
    border-radius: 20px;
    border:none;
    width:auto;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 60px;
    
}
.contenitore2{
    display: flex;
    justify-content: space-between;
    margin: 220px;
    padding-left: 120px;
    padding-right: 70px;
}
.contenitore3{
    display: flex;
    justify-content: center;
}
button{
    border-radius:4px;
    font-weight: bold;
    font-family:OCR A Std, monospace;
    box-shadow: 10px 4px 5px 1px #6e1111;
}
p{
    font-size: 35px;
    font-weight: bold;
    font-family: OCR A Std, monospace;
}